
<% if @tweets.count > 0 %>
  <% @tweets.each do |tweet| %>
    <ul>
      <li><%= tweet.text %></li>
    </ul>
  <% end %>
<% else %>
 <p style="color:red">A error has occured. The username you have entered probably does not exist. Please try again.</p>
<% end %>