<% if @tweets.count > 0 %>
<ol>
  <% @tweets.each do |tweet| %>
      <li><%= tweet.text %></li>
  <% end %>
</ol>
<% else %>
 <p style="color:red">A error has occured. The username you have entered probably does not exist. Please try again.</p>
<% end %>